using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace oef_vaknaam
{
    class Program
    {
        static void Main(string[] args)
        {
            string vak = "";
            double score = 0;
            Console.WriteLine("Geef eerst een vaknaam en vervolgens de score in. ");
            Console.WriteLine();
            //inlezen
            for (int i = 1; i <= 5; i++)
            {
                VakInlezen(i, ref vak, ref score);
                Verwerk
            }

            Console.ReadLine();
        }

        private static void VakInlezen(int vaknummer,ref string vaknaam, ref double vakscore)
        {
            string tekstscore;
            do
            {
                Console.Write("Vak " + vaknummer.ToString() + "?");
                vaknaam = Console.ReadLine();
                
            } while (vaknaam =="");
            do
            {
            do
            {
                Console.Write("Score op 20 voor " + vaknaam.ToUpper() + " ? ");
                tekstscore = Console.ReadLine();
            } while (double.TryParse(tekstscore,out vakscore)==false);
            } while (!(vakscore>= 0 && vakscore<= 20));
        }
    }
}
